/* Center the spinner */
.spinner-border {
    display: block;
    margin: 0 auto;
}

/* Modal backdrop styling */
.modal.show {
    background: rgba(0, 0, 0, 0.5);
}
.notfound{
    text-align: center;
    background-color: brown;
    

}
